.contato ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: wrap; /* não deixa o elemento emborar em dispositivos menores - vai quebrar a linha*/
}

.contato ul li {
    list-style: none;
    color: #212529;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contato ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}